/xsd:schema                 -- UML
> xsd:complexType           -- Class in classes
>> @name                    -- name
>> xsd:attribute            -- Property in properties
>>> @name                   -- name