/compilation_unit                                                   -- UML
> @def_name                                                         -- name
> unit_declaration_q/package_declaration                            -- Package in packages
>> names_ql/defining_identifier/@def_name                           -- name
>> visible_part_declarative_items_ql/ordinary_type_declaration      -- Class in classes
>>> names_ql/defining_identifier/@def_name                          -- name
>>> type_declaration_view_q/record_type_definition/record_definition_q/record_definition/record_components_ql/component_declaration -- Property in properties
>>>> names_ql/defining_identifier/@def_name                         -- name
>>>> object_declaration_view_q/component_definition/component_definition_view_q/subtype_indication/subtype_mark_q/identifier/@ref_name -- reference
>>> ./function_declaration                                          -- Operation in operations
>>>> names_ql/defining_identifier/@def_name                         -- name
>>>> parameter_profile_ql/parameter_specification                   -- Parameter in parameters
>>>>> @mode                                                         -- direction
>>>>> names_ql/defining_identifier/@def_name                        -- name
>>>>> object_declaration_view_q/identifier/@ref_name                -- reference
>>>> result_profile_q                                               -- Parameter in parameters
>>>>> identifier/@ref_name                                          -- name
>>>>> identifier/@ref                                               -- reference
>>>>> [Return]                                                      -- direction
>>> ./procedure_declaration                                         -- Operation in operations
>>>> names_ql/defining_identifier/@def_name                         -- name
>>>> parameter_profile_ql/parameter_specification                   -- Parameter in parameters
>>>>> @mode                                                         -- direction
>>>>> names_ql/defining_identifier/@def_name                        -- name
>>>>> object_declaration_view_q/identifier/@ref_name                -- reference
>>>> result_profile_q                                               -- Parameter in parameters
>>>>> identifier/@ref_name                                          -- name
>>>>> identifier/@ref                                               -- reference
>>>>> [Return]                                                      -- direction
