/uml                                            -- UML
> @title                                        -- name
> class                                         -- Class in classes
>> @title                                       -- name
>> @visible                                     -- visibility
>> ../operation[param/classRef/@name=name]      -- Operation in operations
>>> @name                                       -- name
>>>> param                                      -- Parameter in parameters
>>>>> @name                                     -- name
>>>>> classRef/@name                            -- reference
