/uml                  -- UML
> @title              -- name
> class               -- Class in classes
>> @title             -- name
>> @visible           -- visibility
>> operation          -- Property in properties
>>> @name             -- name
>>> upperLimit/@value -- upper
>>> lowerLimit/@lower -- lower